<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="connStr"
             connectionString="Server=127.0.0.1;Database=lycoder;Uid=root;Pwd=12@zybmima;charset=utf8;port=3306;pooling=true;"
             providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
<!--<connectionStrings>
	<add name="connStr"
             connectionString="Server=hdm317309523.my3w.com;Database=hdm317309523_db;Uid=hdm317309523;Pwd=sql2017zybmima;charset=utf8;port=3306;pooling=true;"
             providerName="MySql.Data.MySqlClient"/>
</connectionStrings>-->

